{% extends 'base.html' %}

{% block title %}
    <title>Моя компания | Джуманджи</title>
{% endblock %}
{% block style %}
    <style>
        body {
            background-color: #F6F2E6;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            {% include 'mycompany/company-menu.html' with page='company' %}
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body px-4 pb-4">
                        <!-- Tab -->
                        <section class="tab-pane fade show active">
                            <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
                            <p class="alert alert-info" role="alert">
                                Информация о компании обновлена
                            </p>
                            <form method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-2">
                                            <label class="mb-2 text-dark" for="{{ form.name.id_for_label }}">Название компании</label>
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="mb-2 text-dark" for="companyLogo">Логотип</label>
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <img src="{{ company.logo.url }}" alt=""
                                                         style="max-width: 120px;height: auto;">
                                                </div>
                                                <div class="col-6" style="position: relative;">
                                                    <div class="input-group-prepend"
                                                         style="position: absolute; top: 0;right: 15px;">
                                                        <span class="btn btn-info px-4">Загрузить</span>
                                                    </div>
                                                    <div class="custom-file" style="">
                                                        <input type="file" name="logo" class="custom-file-input"
                                                               id="inputGroupFile01" accept="image/" value="Загрузить">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-2">
                                            <label class="mb-2 text-dark" for="{{ form.employee_count.id_for_label }}">Количество человек в
                                                компании</label>
                                            {{ form.employee_count }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group pb-2">
                                            <label class="mb-2 text-dark" for="{{ form.location.id_for_label }}">География</label>
                                            {{ form.location }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group pb-2">
                                    <label class="mb-2 text-dark" for="{{ form.description.id_for_label }}">Информация о&nbsp;компании</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-info" value="Сохранить">
                                </div>
                            </form>
                        </section>
                        <!-- END Tab -->
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
