{% extends 'base.html' %}

{% block title %}
    <title>Создать резюме | Джуманджи</title>
{% endblock %}
{% block style %}
    <style>
        body {
            background-color: #F6F2E6;
        }
    </style>
{% endblock %}


{% block content %}
    <main class="container mt-3 pb-5">
        <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
            <div class="card-body px-3 pb-4">
                <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
                <p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userName">Имя</label>
                                <input class="form-control" name="name" type="text" value="{{ form.name.value }}"
                                       id="userName">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userSurname">Фамилия</label>
                                <input class="form-control" name="surname" type="text" value="{{ form.surname.value }}"
                                       id="userSurname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userReady">Готовность к работе</label>
                                {{ form.status }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userPortfolio">Ожидаемое вознаграждение</label>
                                <input class="form-control" type="text" value="{{ form.salary.value }}"
                                       id="userPortfolio" name="salary">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                                {{ form.specialty }}
{#                                <select class="custom-select mr-sm-2" id="userSpecialization" name="specialty">#}
{#                                    <option selected>Backend разработка</option>#}
{#                                    <option value="1">Frontend разработка</option>#}
{#                                    <option value="2">Project manager</option>#}
{#                                </select>#}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group pb-2">
                                <label class="mb-2 text-dark" for="userQualification">Квалификация</label>
                                {{ form.grade }}
{#                                <select class="custom-select mr-sm-2" id="userQualification" name="grade">#}
{#                                    <option selected>Средний (middle)</option>#}
{#                                    <option value="1">Младший (junior)</option>#}
{#                                    <option value="2">Старший (senior)</option>#}
{#                                </select>#}
                            </div>
                        </div>
                    </div>
                    <div class="form-group pb-2">
                        <label class="mb-2 text-dark" for="userEducation">Образование</label>
                        <textarea class="form-control text-uppercase" rows="4" id="userEducation"
                                  style="color:#000;" name="education">{{ form.education.value }}</textarea>
                    </div>
                    <div class="form-group pb-2">
                        <label class="mb-2 text-dark" for="userExperience">Опыт работы</label>
                        <textarea class="form-control" rows="4" id="userExperience"
                                  style="color:#000;" name="experience">{{ form.experience.value }}</textarea>
                    </div>
                    <div class="form-group pb-3">
                        <label class="mb-2 text-dark" for="userPortfolio">Ссылка на портфолио</label>
                        <input class="form-control" type="text" placeholder="http://anylink.github.io"
                               id="userPortfolio" value="{{ form.portfolio.value }}" name="portfolio">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Сохранить">
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
